@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply md:text-7xl sm:text-5xl text-3xl;
  }
  h2 {
    @apply md:text-5xl sm:text-4xl text-3xl;
  }
  h3 {
    @apply md:text-3xl sm:text-2xl text-xl;
  }
  h4 {
    @apply md:text-xl sm:text-lg text-base;
  }
}

@layer utilities {
  .snap {
    scroll-snap-type: y mandatory;
  }
  .snap-start {
    scroll-snap-align: start;
  }
  .nav-transform {
    transform: translateY(-50%);
  }
  .pagination-transition {
    transition: transform 0.2s;
  }
  .pagination-active {
    transform: scale(1.8);
  }
}
