@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply xl:text-9xl md:text-7xl text-3xl;
  }
  h2 {
    @apply md:text-7xl text-5xl;
  }
  h3 {
    @apply text-5xl;
  }
}

@layer utilities {
  .snap {
    scroll-snap-type: y mandatory;
  }
  .snap-start {
    scroll-snap-align: start;
  }
  .nav-transform {
    transform: translateY(-50%);
  }
  .pagination-transition {
    transition: transform 0.2s;
  }
  .pagination-active {
    transform: scale(1.8);
  }
}
